<!-- <div class="kids_bottom_container footer">
  <div class="l-page-width">
    <div class="wrapper">
    </div>
  </div>
</div> -->
<!-- .kids_bottom_container -->
<div class="kids-footer-copyrights footer">
  <div class="l-page-width  clearfix">
    <div class="wrapper">
      {% include social_bar.html %}
      <div class="widget widget_text">
        <div class="textwidget">Created by: Parreira Mobile Services Ltd.</div>
      </div>
    </div>
  </div>
  <div class="dark-mask"></div>
</div>
