<nav id="kids_main_nav" class="menu-position-right">
  <div class="menu-button">
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
  </div>
  <ul id="menu-main" class="clearfix flexnav " data-breakpoint="800">
    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item"><a href="{{ base }}/">Home</a></li>
    <li class="menu-item menu-item-has-children"><a href="{{ base }}/page-features.html">Features</a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="page-features.html">Template Features</a></li>
        <li class="menu-item menu-item-has-children"><a href="{{ base }}/content-elements.html">Content Elements</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ base }}/page-grid.html">Grids Showcase</a></li>
            <li class="menu-item"><a href="{{ base }}/content-elements.html">Content Elements</a></li>
            <li class="menu-item"><a href="{{ base }}/page-video.html">Video</a></li>
            <li class="menu-item"><a href="{{ base }}/typography.html">Text and Headings</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="{{ base }}/pricing-tables.html">Pricing Tables</a></li>
      </ul>
    </li>
    <li class="menu-item menu-item-has-children"><a href="{{ base }}/full-width-page.html">Pages</a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="{{ base }}/full-width-page.html">Full Width Page</a></li>
        <li class="menu-item"><a href="{{ base }}/doble-sidebars.html">Doble Sidebars</a></li>
        <li class="menu-item"><a href="{{ base }}/right-navigation.html">Right Navigation</a></li>
        <li class="menu-item"><a href="{{ base }}/left-navigation.html">Left Navigation</a></li>
        <li class="menu-item"><a href="{{ base }}/right-nav-sidebar.html">Right Nav + Sidebar</a></li>
        <li class="menu-item"><a href="{{ base }}/left-nav-sidebar.html">Left Nav + Sidebar</a></li>
        <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="./page-404.html">404 Page</a></li>
      </ul>
    </li>
    <li class="menu-itemmenu-item-has-children"><a href="{{ base }}/portfolio-full-width.html">Portfolio</a>
      <ul class="sub-menu">
        <li class="menu-item-has-children"><a href="#">Columns</a>
          <ul class="sub-menu">
            <li class="menu-item"><a href="{{ base }}/portfolio-1col.html">Portfolio 1 Column</a></li>
            <li class="menu-item"><a href="{{ base }}/portfolio-2col.html">Portfolio 2 Columns</a></li>
            <li class="menu-item"><a href="{{ base }}/portfolio-3col.html">Portfolio 3 Columns</a></li>
            <li class="menu-item"><a href="{{ base }}/portfolio-4col.html">Portfolio 4 Columns</a></li>
          </ul>
        </li>
        <li class="menu-item"><a href="{{ base }}/portfolio-full-width.html">Full-width page</a></li>
        <li class="menu-item"><a href="{{ base }}/portfolio-right-sidebar.html">Right Sidebar</a></li>
        <li class="menu-item"><a href="{{ base }}/portfolio-left-sidebar.html">Left Sidebar</a></li>
        <li class="menu-item"><a href="{{ base }}/portfolio-double-sidebars.html">Double Sidebars</a></li>
        <li class="menu-item"><a href="{{ base }}/portfolio-gallery.html">Gallery</a></li>
        <li class="menu-item"><a href="{{ base }}/portfolio-gallery-sidebar.html">Gallery + Sidebar</a></li>
      </ul>
    </li>
    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href=".">Blog</a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="{{ base }}/blog-right-sidebar.html">Right Sidebar</a></li>
        <li class="menu-item"><a href="{{ base }}/blog-left-sidebar.html">Left Sidebar</a></li>
        <li class="menu-item"><a href="{{ base }}/blog-double-sidebars.html">DoubleSidebars</a></li>
        <li class="menu-item"><a href="{{ base }}/blog-fullwidth.html">Full Width</a></li>

      </ul>
    </li>
    <li class="menu-item menu-item-has-children"><a href="{{ base }}/shop.html">Shop</a>
      <ul class="sub-menu">
        <li class="menu-item"><a href="{{ base }}/shop-shortcodes.html">Woo Shortcodes</a></li>
        <li class="menu-item"><a href="{{ base }}/shop-cart.html">Cart</a></li>

        <li class="menu-item"><a href="{{ base }}/shop-checkout.html">Checkout</a></li>
        <li class="menu-item"><a href="{{ base }}/shop-account.html">My Account</a></li>
      </ul>
    </li>
    <li class="menu-item"><a href="{{ base }}/pricing/">Prices</a></li>
    <li class="menu-item"><a href="{{ base }}/contact/">Contact</a></li>
  </ul>
</nav>
