{% assign pages = (site.pages | where: "published" , "true" ) %}
{% assign pages = (pages | where: "main_nav", "true" ) %}
{% assign pages = (pages | sort: "index" ) %}
{% assign endIndex = pages | size | minus: 1   %}

<nav id="kids_main_nav" class="menu-position-right">
  <div class="menu-button">
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
    <span class="menu-button-line"></span>
  </div>
  <ul id="menu-main" class="clearfix flexnav " data-breakpoint="800">
    {% for i in (0..endIndex) %}

    {% assign current_menu_item = "" %}
    {% if page.nav_title == pages[i].nav_title %}
      {% assign  current_menu_item = "current-menu-item current_page_item" %}
    {% endif %}

    <li class="menu-item menu-item-type-custom menu-item-object-custom {{ current_menu_item }}">
        <a href="{{ base }}{{ pages[i].permalink }}">{{ pages[i].nav_title }}</a></li>

    {% endfor %}
  </ul>
</nav>
