<div class="bg-level-2-page-width-container ">
  <div class="bg-level-2 first-part" id="bg-level-2"></div>
  <div class="l-page-width">
    <div class="kids_slider_bg img_slider">
      <div class="kids_slider_wrapper">
        <div class="kids_slider_inner_wrapper">
          <div class="img-slider">

            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
              <!-- START REVOLUTION SLIDER 4.6.5 fullwidth mode -->
              <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
                <ul>
                  {% for slide in site.data.coverflow %}
                  <!-- SLIDE  -->
                  <li data-transition="random" data-slotamount="7" data-masterspeed="300" data-saveperformance="off">
                    <!-- MAIN IMAGE -->
                    <img src="{{ slide.url }}" alt="{{ slide.description }}" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <!-- LAYER NR. 1 -->
                    {% assign title_main_size = slide.title_main | size %}
                    {% if title_main_size > 0 %}
                    <div class="tp-caption kids-slider-header customin fadeout tp-resizeme" data-x="7" data-y="300" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">
                      {{ slide.title_main }}
                    </div>
                    {% endif %}
                    <!-- LAYER NR. 2 -->
                    {% assign title_description_size = slide.title_description | size %}
                    {% if title_description_size > 0 %}
                    <div class="tp-caption kids-slider-header-alt customin fadeout tp-resizeme" data-x="7" data-y="357" data-customin="x:-90;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="500" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="2" data-endelementdelay="0.1" data-endspeed="300">
                      {{ slide.title_description }}
                    </div>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
              </div>
            </div>
            <!-- END REVOLUTION SLIDER -->
          </div>
          <!--/ #kids-slider-->
        </div>
        <!--/ .kids_slider_inner_wrapper-->
      </div>
      <!--/ .kids_slider_wrapper-->
    </div>
    <!--/ .kids_slider_bg-->
  </div>
  <!-- .l-page-width -->
  <div class="bg-level-2 second-part" id="bg-level-2"></div>
</div>
