---
layout: base
---
<!DOCTYPE html>
<!--[if lte IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<html class="no-ie">
{% include head.html %}
<body data-type-of-widget="2" class="home page kids-front-page t-pattern-1">
	<!-- HEADER BEGIN -->
	{% include header.html %}
	<!-- .bg-level-1 -->
	<div id="kids_middle_container">
      <div class="kids_top_content">
        <div class="kids_top_content_middle ">
          <div class="header_container ">
            <div class="l-page-width">
              <h1>{{ page.title }}</h1>
              <ul id="breadcrumbs">
                <li><a href="{{ base }}/" title="Home">Home</a></li> <span class="delimiter">&gt;</span>
                <li><span class="current_crumb">{{ page.title }}</span></li>
              </ul>
            </div>
          </div>
        </div>
		<!-- .content -->
		{{ content }}
	</div>
	<!-- .end_content -->
	<!-- FOOTER BEGIN -->
	{% include footer.html %}
</body>
</html>
